In [ ]:
print("Olá Mundo")

Olá Mundo

# Projeto 01 - Analise de dados ficticios - Marketing de Vendas

# Etapa 01: Entendimento do problema
### Melhorar a conversão de vendas a partir da analise de campanhas realizadas no  FACEBOOK.

# Etapa 02: Coleta de dados
### dados coletados em https://www.kaggle.com/loveall/clicks-conversion-tracking

# Etapa 03: Análise, interpretação e visualização dos dados

### Importando as bibliotecas

In [5]:
# Manipulação de dados
import pandas as pd

# visualização

# Machine learnig

## Carregando os dados

In [8]:
pd.read_csv("KAG_conversion_data.csv")

        ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0      708746              916  ...                 2                   1
1      708749              916  ...                 2                   0
2      708771              916  ...                 1                   0
3      708815              916  ...                 1                   0
4      708818              916  ...                 1                   1
...       ...              ...  ...               ...                 ...
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[1143 rows x 11 columns]

In [14]:
idade = 30
nome = "Auro"
print (f"O nome é {nome} e a idade é {idade}")
type(idade)

O nome é Auro e a idade é 30

int

## Primeira Inspeção

In [15]:
# criando um dataframe
df = pd.read_csv("KAG_conversion_data.csv")
type(df)

pandas.core.frame.DataFrame

In [20]:
df.head()
# por padrao, as 5 primeiras linhas. funciona como um having ou limit.

    ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0  708746              916  ...                 2                   1
1  708749              916  ...                 2                   0
2  708771              916  ...                 1                   0
3  708815              916  ...                 1                   0
4  708818              916  ...                 1                   1

[5 rows x 11 columns]

In [21]:
df.tail()
# mostra as ultimas linhas. por padrao as 5 ultimas.

        ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[5 rows x 11 columns]

In [23]:
df.columns
# lista as columnas do dataframe

Index(['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion'],
      dtype='object')

In [24]:
df.index
# quantidade de registros do dataframe

RangeIndex(start=0, stop=1143, step=1)

In [25]:
df.shape
# quantidade linhas e colunas

(1143, 11)

In [28]:
linhas, colunas = df.shape
# variavel do tipo vetor recebendo o dataframe
print(f"o numero de linhas é {linhas}")

o numero de linhas é 1143

In [29]:
linhas
# chamando a variavel linhas

1143

In [32]:
df["Clicks"]
# trazendo informaçao de apenas uma coluna

0         1
1         2
2         0
3         1
4         1
       ...
1138    252
1139    120
1140     28
1141    135
1142    114
Name: Clicks, Length: 1143, dtype: int64

In [37]:
serie_interesse = df["interest"]
type(serie_interesse)

pandas.core.series.Series

In [39]:
df.info()
# resumo do conjunto de dados
# ajuda a verificar se há dados faltantes. em machine learning nao pode haver dados faltantes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB

# Dicionário de dados
1.	ad_id – ID unico para cada anúncio
2.	xyzcampaignid – ID associado a cada campanha publicitária da empresa XYZ
3.	fbcampaignid – ID associado a como o Facebook rastreia cada campanha
4.	age – idade da pessoa a quem o anúncio é mostrado
5.	gender – sexo da pessoa que deseja que o anúncio seja mostrado
6.	interest – código que especifica a categoria a qual pertence o interesse da pessoa (os interesses são mencionados no perfil publico da pessoa no Facebook
7.	Impression – o número de vezes que o anúncio foi mostrado
8.	Clicks – número de cliques nesse anúncio
9.	Spent – valor pago pela empresa XYZ ao Facebook, para exibir aquele anúncio
10.	Total conversion – número total de pessoas que fizeram perguntas sobre o produto depois de ver o anúncio
11.	Approved conversion – número total de pessoas que compraram o produto depois de ver o anúncio.